<div class="bracket-container">
    <div class="playoffs">
        <p>{{team1}}</p>
        <p>{{team2}}</p>
        <p>{{team3}}</p>
        <p>{{team4}}</p>
        <p>{{team5}}</p>
        <p>{{team6}}</p>
        <p>{{team7}}</p>
        <p>{{team8}}</p>
        <p>{{team9}}</p>
        <p>{{team10}}</p>
        <p>{{team11}}</p>
        <p>{{team12}}</p>
    </div>
    <div class="quarter-finals">
        <p id="quarter-team1">{{qteam1}}</p>
        <p id="quarter-team2">{{qteam2}}</p>
        <p id="quarter-team3">{{qteam3}}</p>
        <p id="quarter-team4">{{qteam4}}</p>
        <p id="quarter-team5">{{qteam5}}</p>
        <p id="quarter-team6">{{qteam6}}</p>
        <p id="quarter-team7">{{qteam7}}</p>
        <p id="quarter-team8">{{qteam8}}</p>
    </div>
    <div class="semi-finals">
        <p id="semi-team1">{{steam1}}</p>
        <p id="semi-team2">{{steam2}}</p>
        <p id="semi-team3">{{steam3}}</p>
        <p id="semi-team4">{{steam4}}</p>
    </div>
    <div class="finals">
        <p id="finals-team1">{{fteam1}}</p>
        <p id="finals-team2">{{fteam2}}</p>
    </div>
</div>