<div class="bracket-container">
    {{!-- <button class="clickButton">click me</button> --}}
    {{!-- <div class="playoffs">
        {{#each playoffArr}}
        <div>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team1 1}}
                <s>{{this.team1}}</s>
                {{else}}
                <h5>{{this.team1}}</h5>
            {{/eliminatedTeam}}
            <p>vs.</p>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team2 1}}
                <s>{{this.team2}}</s>
                {{else}}
                <h5>{{this.team2}}</h5>
            {{/eliminatedTeam}} 
        </div>
        {{/each}}
    </div>
    <div class="quarter-finals">
        {{#each quarterArr}}
            <div>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team1 2}}
                    <s>{{this.team1}}</s>
                    {{else}}
                    <h5>{{this.team1}}</h5>
                {{/eliminatedTeam}}
                <p>vs.</p>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team2 2}}
                    <s>{{this.team2}}</s>
                    {{else}}
                    <h5>{{this.team2}}</h5>
                {{/eliminatedTeam}} 
            </div>
        {{/each}}
    </div>

    <div class="semi-finals">
        {{#each semiArr}}
            <div>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team1 3}}
                    <s>{{this.team1}}</s>
                    {{else}}
                    <h5>{{this.team1}}</h5>
                {{/eliminatedTeam}}
                <p>vs.</p>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team2 3}}
                    <s>{{this.team2}}</s>
                    {{else}}
                    <h5>{{this.team2}}</h5>
                {{/eliminatedTeam}} 
            </div>
        {{/each}}
    </div>
    <div class="finals">
        {{#each finals}}
        <div id={{this.name}}>
            <h5>{{this.team1}}</h5> 
            <p>vs.</p>
            <h5>{{this.team2}}</h5>
        </div>
        {{/each}}
    </div> --}}

    
        {{#each bracketSections}}
        <div>
            {{#each this}}
                <div id="{{this.name}}">
                    {{#checkLoser this this.team1}}
                        <s>{{this.team1}}</s>
                    {{else}}
                        <h5>{{this.team1}}</h5>
                    {{/checkLoser}}
                    <p>vs.</p>
                    {{#checkLoser this this.team2}}
                        <s>{{this.team2}}</s>
                    {{else}}
                        <h5>{{this.team2}}</h5>
                    {{/checkLoser}}
                </div>
            {{/each}}
        </div>
        {{/each}}

</div>



<script src="/public/js/bracket_view.js"></script>