<div class="bracket-container">
    <div class="playoffs">
        <p>{{team1}} 
            <br> 
            vs.
            <br>
            {{team2}}
        </p>
        <p>{{team3}}
            <br> 
            vs.
            <br>
            {{team4}}
        </p>
        <p>{{team5}}
            <br> 
            vs.
            <br>
            {{team6}}
        </p>
        <p>{{team7}}
            <br> 
            vs.
            <br>
            {{team8}}
        </p>
        <p>{{team9}}
            <br> 
            vs.
            <br>
            {{team10}}
        </p>
        <p>{{team11}}
            <br> 
            vs.
            <br>
            {{team12}}
        </p>
    </div>
    <div class="quarter-finals">
        <p id="quarter-team1-team2">{{qteam1}}
            <br> 
            vs.
            <br>
            {{qteam2}}
        </p>
        <p id="quarter-team3-team4">{{qteam3}}
            <br> 
            vs.
            <br>
            {{qteam4}}
        </p>
        <p id="quarter-team5-team6">{{qteam5}}
            <br> 
            vs.
            <br>
            {{qteam6}}
        </p>
        <p id="quarter-team7-team8">{{qteam7}}
            <br> 
            vs.
            <br>
            {{qteam8}}
        </p>
    </div>
    <div class="semi-finals">
        <p id="semi-team1-team2">{{steam1}}
            <br> 
            vs.
            <br>
            {{steam2}}
        </p>
        <p id="semi-team3-team4">{{steam3}}
            <br> 
            vs.
            <br>
            {{steam4}}
        </p>
    </div>
    <div class="finals">
        <p id="finals-team1-team2">{{fteam1}}
            <br> 
            vs.
            <br>
            {{fteam2}}
        </p>
    </div>
</div>