<div class="bracket-container">
    {{!-- <button class="clickButton">click me</button> --}}
    <div class="playoffs">
        {{#each playoffArr}}
        <div>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team1}}
            <s>{{this.team1}}</s>
            {{else}}
            <h5>{{this.team1}}</h5>
            {{/eliminatedTeam}}
            <p>vs.</p>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team2}}
            <s>{{this.team2}}</s>
            {{else}}
            <h5>{{this.team2}}</h5>
            {{/eliminatedTeam}} 
{{!-- 
            {{#if this.team1Elim}}
            {{else}}
            {{/if}} --}}
        </div>
        {{/each}}
    </div>
    <div class="quarter-finals">
        {{#each quarterArr}}
            <div>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team1}}
                    <s>{{this.team1}}</s>
                {{else}}
                    <h5>{{this.team1}}</h5>
                {{/eliminatedTeam}}
                <p>vs.</p>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team2}}
                    <s>{{this.team2}}</s>
                {{else}}
                    <h5>{{this.team2}}</h5>
                {{/eliminatedTeam}} 
            </div>
        {{/each}}
    </div>

    <div class="semi-finals">
        {{#each semiArr}}
            <div>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team1}}
                    <s>{{this.team1}}</s>
                {{else}}
                    <h5>{{this.team1}}</h5>
                {{/eliminatedTeam}}
                <p>vs.</p>
                {{#eliminatedTeam ../eliminatedTeamsArr this.team2}}
                    <s>{{this.team2}}</s>
                {{else}}
                    <h5>{{this.team2}}</h5>
                {{/eliminatedTeam}} 
            </div>
        {{/each}}
    </div>
    <div class="finals">
        <div id="first-second">
            <h5>{{finalsObj.team1}}</h5> 
            <p>vs.</p>
            <h5>{{finalsObj.team2}}</h5>
        </div>
        <div id="third">
            <h5>{{finalsObj.team3}}</h5> 
            <p>vs.</p>
            <h5>{{finalsObj.team4}}</h5>
        </div>
    </div>
</div>

<script src="/public/js/bracket_view.js"></script>