<div class="bracket-container">
    {{!-- <button class="clickButton">click me</button> --}}
    <div class="playoffs">
        {{#each playoffArr}}
        <div>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team1}}
            <s>{{this.team1}}</s>
            {{else}}
            <h5>{{this.team1}}</h5>
            {{/eliminatedTeam}}
            <p>vs.</p>
            {{#eliminatedTeam ../eliminatedTeamsArr this.team2}}
            <s>{{this.team2}}</s>
            {{else}}
            <h5>{{this.team2}}</h5>
            {{/eliminatedTeam}} 
{{!-- 
            {{#if this.team1Elim}}
            {{else}}
            {{/if}} --}}
        </div>
        {{/each}}
    </div>
    <div class="quarter-finals">
        {{#each quarterArr}}
            <div>
                <h5>{{this.team1}}</h5> 
                <p>vs.</p>
                <h5>{{this.team2}}</h5>
            </div>
        {{/each}}
    </div>

    <div class="semi-finals">
        {{#each semiArr}}
            <div>
                <h5>{{this.team1}}</h5> 
                <p>vs.</p>
                <h5>{{this.team2}}</h5>
            </div>
        {{/each}}
    </div>
    <div class="finals">
        <div>
            <h5>{{finalsObj.team1}}</h5> 
            <h5><p>vs.</p></h5>
            <h5>{{finalsObj.team2}}</h5>
        </div>
    </div>
</div>

<script src="/public/js/bracket_view.js"></script>