<div class="bracket-container">
    <div class="playoffs">
        <p>{{team1.name}} 
            <br> 
            vs.
            <br>
            {{team2.name}}
        </p>
        <p>{{team3.name}}
            <br> 
            vs.
            <br>
            {{team4.name}}
        </p>
        <p>{{team5.name}}
            <br> 
            vs.
            <br>
            {{team6.name}}
        </p>
        <p>{{team7.name}}
            <br> 
            vs.
            <br>
            {{team8.name}}
        </p>
        <p>{{team9.name}}
            <br> 
            vs.
            <br>
            {{team10.name}}
        </p>
        <p>{{team11.name}}
            <br> 
            vs.
            <br>
            {{team12.name}}
        </p>
    </div>
    <div class="quarter-finals">
        <p id="quarter-team1-team2">{{qteam1.name}}
            <br> 
            vs.
            <br>
            {{qteam2.name}}
        </p>
        <p id="quarter-team3-team4">{{qteam3.name}}
            <br> 
            vs.
            <br>
            {{qteam4.name}}
        </p>
        <p id="quarter-team5-team6">{{qteam5.name}}
            <br> 
            vs.
            <br>
            {{qteam6.name}}
        </p>
        {{!-- <p id="quarter-team7-team8">{{qteam7}}
            <br> 
            vs.
            <br>
            {{qteam8}}
        </p> --}}
    </div>
    <div class="semi-finals">
        <p id="semi-team1-team2">{{steam1.name}}
            <br> 
            vs.
            <br>
            {{steam2.name}}
        </p>
        {{!-- <p id="semi-team3-team4">{{steam3}}
            <br> 
            vs.
            <br>
            {{steam4}}
        </p> --}}
    </div>
    <div class="finals">
        <p id="finals-team1-team2">{{fteam1.name}}
            <br> 
            vs.
            <br>
            {{fteam2.name}}
        </p>
    </div>
</div>