{{! styling is done in courtView_style.css}}
<div class = "allCourts"> {{! container for the 4 courts}}
     {{! labelling courts but maybe don't need separate classes for each of them}}
    {{#each courtArray}}
    <div class="court">
        <h3 id="court{{this.numOfFields}}">{{this.numOfFields}}</h3>
        <br>        
        <h1> {{this.teamName1}} vs {{this.teamName2}} </h1> {{! takes team names from court_view.js in routes}}
        <br>

        {{! Only captains/coordinators see this}}        
        <div class="score-submission">
            {{! "Input Score"}}
            {{#compareRole "coordinator" ../role}}
            
            <h3>Submit scores here</h3>

            <br>
            
            <form id="scoreInputForm">
                <div class="score-columns">
                    <section id="team1">
                        <label id="team1Name">{{this.teamName1}}</label>
                        <br>
                        <input type="number" name="score1" id="score1">
                    </section>
                
                    <section id="team2">
                        <label id="team2Name">{{this.teamName2}}</label>
                        <br>
                        <input type="number" name="score2" id="score2">
                    </section>
                </div>

            <br>
            
            <button class="submit">Submit</button>

            </form>
            {{/compareRole}}

        </div>
        <br>
        {{! Everyone can see this}}    
        <div class="live-stream-link">
            <a href="https://www.youtube.com/@blessedcultureandsportsfes8608" target="_blank">Live Stream</a></li>
        </div>
    
    </div>
    {{/each}}
</div>

<script src="/public/js/court_view.js"></script>