<section id="landingPageDiv">
    <div id="titleDiv">
        <h1>
            Sportsfest {{!-- should be tournament name when we make it --}}
        </h1>
        {{!-- <h1 id="title"> !!FOR NEW LANDING PAGE!!
            SPORTS BRACKET GENERATOR
        </h1>
        <h2 id="subheader">
            V.01
        </h2> --}}
    </div>
    <img src="../../public/icons/thin-arrow.png" alt="thin arrow" id="thin-arrow">
</section>
{{#each sports}}
<section id="sport{{@index}}" class="sportDiv">
    <div>
        <div id="banner{{@index}}" class="banner">
        <p id="textContentBanner{{@index}}" class="textContentBanner">
            <span id="textBanner{{@index}}">{{{this}}} {{{this}}} {{{this}}}</span>
            <span id="textBanner{{@index}}1">{{{this}}} {{{this}}} {{{this}}}</span>
            <span id="textBanner{{@index}}2">{{{this}}} {{{this}}} {{{this}}}</span>
        </p>
        </div>
        <div id="sportsLinks{{@index}}" class="sportsLinksDiv">
            <ul class="sportsLinks">
                <li><a href="/bracket_view">Current Bracket</a></li>
                <li><a href="/court_view">Current Games</a></li>
                <li><a href="/seeding_table">Current Seeds</a></li>
                <li><a href="/team_list">Current Teams</a></li>
            </ul>
        </div>
    </div>
</section>
{{/each}}