
{{!-- Public dashboard --}}
<div id="titleDiv">
    <h1>PROFILE</h1>
</div>

<div id="dashboard">
    <div id="userCard" class="dashboardCards">
        <img src="{{profilePic}}" alt="Profile Picture">
        <div id="upload_picture">
            {{!-- <form action="/player_dashboard/upload-image" method="post" enctype="multipart/form-data" > --}}
            <form enctype="multipart/form-data" >
                <input type="file" name="user-image" id="user_picture">
            </form>
        </div>
        <section id="userInfo">
            {{!-- if they have a name this will show --}}
            {{#if name}}
            <h2 id="player_name">{{name}}</h2>
            <div id="name_update_div">
                <input class="edit_inputs" id="player_name_input" type="text" placeholder="Update name">
            </div>
            {{/if}}
            <h5 id="player_role">{{role}}</h5>
        </section>
        <section id="playerInfo">
            <section id="playerInfoTopRow">
                <div id="shirtNumberDiv">
                    <label for="shirt_number">Shirt Number</label>
                    {{#if shirt_number}}
                        <p id="shirt_number">{{shirt_number}}</p>
                    {{else}}
                        <p id="shirt_number">N/A</p>
                    {{/if}}
                    <div id="shirt_number_update_div">
                        <input class="edit_inputs" id="shirt_number_input" type="text" placeholder="Update shirt number">
                    </div>
                </div>
                <div id="playerPositionDiv">
                    <label for="player_position">Position</label>
                    {{#if position}}
                        <p id="player_position">{{position}}</p>
                    {{else}}
                        <p id="player_position">N/A</p>
                    {{/if}}
                    <div id="position_update_div">
                        <select id="player_position_input">
                            <option value="All Around">All Around</option>
                            <option value="Outside Hitter">Outside Hitter</option>
                            <option value="Setter">Setter</option>
                            <option value="Libero">Libero</option>
                            <option value="Middle Blocker">Middle Blocker</option>
                            <option value="Opposite">Opposite</option>
                        </select>
                    </div>
                </div>
            </section>
        </section>
        <section id="userCardButtons">
            <button id="edit_profile_button">Edit</button>
            <button id="submit_profile_changes_button">Submit</button>
        </section>
    </div>

    {{!-- Join (and edit teams if you're a captain/coordinator) --}}

    <div id="manageTeamCard" class="dashboardCards">
        <h1 class="cardTitles">Your Current Team</h1>
        {{#unless tournamentJoinedArray}}
            <section id="joinTournament">
                    <button id="joinTournamentBtn">Join tournament</button>
                    <div id="joinTournamentDiv">
                        <label for="joinTournamentCodeInput">Tournament Code</label>
                        <input id="joinTournamentCodeInput" type="number" placeholder="input team code">
                        <button id="submitTournamentCodeBtn">Submit</button>
                    </div>
            </section>
        {{/unless}}
            
        <section id="joinedTournamentsList">
            <p>Tournaments joined</p>
            <ul>
                {{#each tournamentJoinedArray}}
                    <li class="tournamentLink">{{this.tournamentName}}</a></li>
                {{/each}}
            </ul>
            <section id="joinTournament">
                <button id="joinTournamentBtn">Join tournament</button>
                <div id="joinTournamentDiv">
                    <label for="joinTournamentCodeInput">Tournament Code</label>
                    <input id="joinTournamentCodeInput" type="number" placeholder="input team code">
                    <button id="submitTournamentCodeBtn">Submit</button>
                </div>
            </section>
        </section>
        <div id='manageTeamElement' class="hidden">
            {{#if hasTeam}} {{!-- if they have a team this will display --}}
                <section id="team_display_card">
                    <section id="teamInfo">
                        <div>
                            <label for="teamName">Team Name</label>
                            <p id="teamName">{{teamName}}</p>
                        </div>
                        <div>
                            <label for="district">District</label>
                            <p id="teamDistrict">{{district}}</p>
                        </div>
                        <div>
                            <label for="teamCaptain">Team Captain</label>
                            <p id="teamCaptain">{{teamCaptain}}</p>
                        </div>
                    </section>
                    <section id="teamMembers">
                        {{#each teamMembers}}
                            <div class="teamMemberName">
                                <p id="teamMember{{@index}}">{{this.name}}</p>
                                {{#if this.code}}<p>{{this.code}}</p>{{/if}}
                            </div>
                        {{/each}}   
                    </section>      
                </section>

                <section id="edit_team_display_card">
                    <div>
                        <div class="editInfoDiv">
                            <label for="edit_team_name">Team Name :</label>
                            <input id="edit_team_name"type="text"></input>
                            {{!-- <button id="submit_team_name_change_btn">Change</button> --}}
                        </div>
                        <div class="editInfoDiv">
                            <label for="edit_districtSelection">District :</label>
                            <input id="edit_districtSelection" type="text" list="districts" placeholder="District" required>
                            <datalist id="districts">
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                                <option value="6"></option>
                                <option value="7"></option>
                                <option value="8"></option>
                                <option value="9"></option>
                                <option value="10"></option>
                                <option value="11"></option>
                                <option value="12"></option>
                                <option value="13"></option>
                            </datalist>
                        </div>
                        <div class="editInfoDiv">
                            <label for="edit_team_captain">Team Captain :</label>
                            <input id="edit_team_captain" type="text"></input>
                            {{!-- <button id="submit_team_captain_change_btn">Change</button> --}}
                        </div>
                    </div>
                    <div id="editTeamMembersDiv">
                        <label>Team Members</label>
                        <div id="edit_team_member"></div>
                        <div id="add_remove_buttons">
                            <button id="edit_add_more_button" type="button">Add Member</button>
                            <button id="edit_remove_button" type="button">Remove Member</button>
                        </div>
                    </div>
                </section>
                <section id="edit_submit_buttons">
                    {{#compareRole "captain" role}} {{!-- captains can edit teams --}}
                        <button id="edit_team_btn">Edit Team</button>
                    {{/compareRole}}

                    {{#compareRole "coordinator" role}} {{!-- coordinators can edit teams --}}
                        <button id="edit_team_btn">Edit Team</button>
                    {{/compareRole}}

                    <div id="div_edit_team_submit_btn">
                        <button id="edit_team_submit_btn">Submit</button>
                    </div>
                </section>
            {{else}} {{!-- if they don't have a team this will display--}}
                <section id="noTeamDisplay"> 
                    <p>You don't currently have a team right now</p>
                    <div>
                        {{#compareRole "coordinator" role}} {{!-- coordinators can create teams --}}
                            <button type="button" id="create_team_button">Create a Team</button>
                        {{/compareRole}}

                        {{#compareRole "captain" role}} {{!-- captains can create teams --}}
                            <button type="button" id="create_team_button">Create a Team</button>
                        {{/compareRole}}

                        <button type="button" id="join_team_button">Join a Team</button>
                    </div>
                </section>
                <section id="createTeamSection">
                    <div id ="div_join_team_input">
                        <input id="team_code_input" type="text" placeholder="Team code">
                        <button id="submit_team_code_button" type="submit">Submit</button>
                    </div>
                    <form id="teamInputForm" method="post">
                        <div>
                            <input id="teamName" type="text" placeholder="Team Name" required>
                            <br>
                            <input id="districtSelection" type="text" list="districts" placeholder="District" required>
                            <datalist id="districts">
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                                <option value="6"></option>
                                <option value="7"></option>
                                <option value="8"></option>
                                <option value="9"></option>
                                <option value="10"></option>
                                <option value="11"></option>
                                <option value="12"></option>
                                <option value="13"></option>
                            </datalist>
                        </div>
                        <div id="teamMembers">
                            <div>
                                <label for="teamCaptain">Team Captain</label>
                                <input name="teamCaptain" id="teamCaptain" type="text" placeholder="Team Captain Name" value="{{name}}" required readonly>
                            </div>
                            <label>Members</label>
                            <div id="teamMembersList">
                                <input name="teamMemberName1" id="teamMemberName1" type="text" placeholder="Team Member Name" required>
                            </div>
                        </div>
                        <div id="add_remove_buttons">
                            <button id="add_more_button" type="button">Add Member</button>
                            <button id="remove_button" type="button">Remove Member</button>
                        </div>
                        <div>
                            <button id="submit" type="submit">Submit</button>
                            <button type="reset">Reset</button>
                        </div>
                    </form>
                </section>
            {{/if}}
            <button id="manageTeamElementBackBtn">Back</button>
        </div>
    </div>

    {{!-- Coordinator dashboard --}}

    {{#compareRole "coordinator" role}}

    <div class="dashboardCards" id="editUserRoles">
        <h1 class="cardTitles">Edit User Roles</h1>
        <div>
            <div id="users_submit_button_div">
                <p id="totalUsers" value="{{allUsers.length}}">Total Users: {{allUsers.length}}</p>
                <section id="role_change_submit_button_div">
                    <button id="button" type="submit">Submit</button>
                </section>
            </div>
            <div class="gridContainer">
                <div id="gridHeader" class="grid">
                    <div class="header" class="grid-row"><p>Email</p></div> 
                    <div class="header" class="grid-row"><p>Current Role</p></div> 
                    <div class="header" class="grid-row"><p>Change Role to:</p></div>
                </div>
                <div id="gridInfo" class="grid">
                    {{#each allUsers}}
                        <div class="grid-row" id="email{{@index}}">{{this.email}}</div> 
                        <div class="grid-row" id="currentRole{{@index}}">{{this.user_metadata.role}}</div> 
                        <div class="grid-row" id="roleChange{{@index}}">
                            <form id="roleChangeForm">
                                <input list="roles" name="role" id="newRole{{@index}}">

                                <datalist id="roles">
                                <option value="captain">
                                <option value="player">
                                </datalist>
                            </form>
                        </div>
                    {{/each}}
                </div>
            </div> 
        </div>
    </div>

    <div class="dashboardCards" id="createPool">
        <h1 class="cardTitles">Create Pool</h1>
        <div>
            <h3>Your Tournaments</h3>
            {{#each tournamentArray}}
                <a id="{{this._id}}" href="/tournament/{{#idToString this._id}}{{/idToString}}">{{this.tournamentName}}</a>
                </br>
            {{/each}}
            </br>
        </div>
        <div>
            <button id="createTournamentBtn">Create tournament</button>
            <div id="submit_tournament_info_div" hidden="true">
                <button id="submit_tournament_info_button">Submit</button>
            </div>
            <div id="createTournamentDiv">
                <form id="create_tournament_form">
                    <!-- Checkbox for selecting sports being played -->
                    <div id="create_tournament_sports_list" class="form-check">
                        {{#each sportList}}
                        <input class="sports_list_input" type="checkbox" value="{{this.sportName}}" id="{{this.sportName}}" />
                        <label class="sports_list_label" for="{{this.sportName}}">{{this.sportName}}</label>
                        {{/each}}
                        </br>
                        <label for="privacy">Privacy: </label>
                        <input list="privacy" name="privacy_question" id="privacy_question">
                        <datalist id="privacy">
                            <option value="private">
                            <option value="public">
                        </datalist>
                        </br>
                        <label for="tournament_name">Tournament Name: </label>
                        <input id="tournament_name" type="text" required></input>
                    </div>
                    </br>
                    <div id="create_tournament_sports_questions">

                    </div>
                </form>
                <button id="previous_button">Previous</button>
                <button id="next_button">Next</button>
            </div>
        </div>
    </div>
    {{!-- <script src="/public/js/create_pool.js"></script> --}}
    <script src="/public/js/role_change.js"></script>
    {{/compareRole}}

    <script src="/public/js/team_input.js"></script>
    <script src="/public/js/player_dashboard.js"></script>
</div>