<div class="teamList">
    <h1>Round Robin Games List</h1>
    <div>
    <p id="totalUsers" value="{{rounds.length}}">Total Teams: {{rounds.length}}</p>
    <br>
        <div class="grid-column">
            <div class="header" class="grid-row-name"><b>Team Name</b></div> 
            <div class="header" class="grid-row-district"><b>District</b></div>
            <div class="header" class="grid-row-name"><b>Field</b></div> 
                {{#each rounds}}
                <div class="grid-row-name" id="team1{{@index}}">{{this.team1.teamName}}</div> 
                <div class="grid-row-name" id="team2{{@index}}">{{this.team2.teamName}}</div>
                <div class="grid-row-name" id="field{{@index}}">{{this.field}}</div>
                {{/each}}
        </div> 
    </div>
</div>