<div class="teamList">
    {{!-- <h1>Current Seeds</h1> --}}
    <button id="refresh_seed_table_button">Refresh Table</button>
    <br>
    <div class="header_bar">
        <h2>Seed #</h2>
        <h2>Team Name</h2>
        <h2>Wins</h2>
        <h2>Losses</h2>
        <h2>Point Differential</h2>
    </div>
    <div class="seed_information">
    {{#each matches}}
        <div class="seed_info" id="seed_info_div">
            <p id="seed{{#incrementIndex @index}}{{/incrementIndex}}">{{#incrementIndex @index}}{{/incrementIndex}}</p>
            <p id="teamName{{@index}}">{{this.name}}</p>
            <p id="wins{{@index}}">{{this.winnerCount}}</p>
            <p id="losses{{@index}}">{{this.loserCount}}</p>
            <p id="pointDiff{{@index}}">{{this.pointDifferential}}</p>
        </div>
    {{/each}}
    </div>
    <button id="seed_submit_button" type="submit">Submit Seeds</button>
</div>

<script src="/public/js/seed_table.js"></script>